{
    "extends": "airbnb",
    "rules": {
        "func-names": ["error", "never"],
        "linebreak-style": ["error", "windows"],
        "no-continue": 0,
        "jsx-a11y/anchor-has-content" : 0,
        "no-nested-ternary" : 0,
        "react/prop-types": "off",
        "jsx-a11y/anchor-is-valid": "off"
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    }
}
