@import "../mixins";
@import "../variables";

body {
  background-color: $light-gray;
}

.spinner {
  align-items: center;
  display: flex;
  justify-content: center;

  img,
  svg {
    display: block;
    max-height: 200px;
    max-width: 200px;
  }

  svg {
    padding: 10px;
  }
}

.navigation-bar {
  text-align: center;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &> * {
    margin: 0.5ex;
  }
}

.mod-bar {
  &__loader,
  &__log {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &> * {
      margin: 0.5ex;
    }
  }

  &__log {
    background-color: $white;
    border: thin solid $gray;
    border-radius: 4px;
    margin: 0.5ex;
    padding: 0.5ex;
  }
}

.form-control {
  color: $black;
  display: inline-block;
  width: auto;
}

.no-script {
  text-align: center;
}

.version-info {
  font-size: small;
  margin: 1ex;
  text-align: center;
}

.compare-label {
  align-items: center;
  display: flex;
  justify-content: center;
}

.change-break-line {
  span {
    display: block;
    text-align: center;
  }
}

.units-list {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.unit-item {
  background-color: $white;
  border: thin solid $gray;
  border-radius: 4px;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0.5ex;
  padding: 0.5ex;

  button {
    margin: 0.5ex;
  }

  &__image-link {
    display: inline-block;
    height: 100%;
    width: 100%;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  &__detail-title {
    font-size: large;
  }

  &__label-green,
  &__label-red,
  &__label-gray {
    border-radius: 4px;
    padding: 0.5ex 1ex;
  }

  &__label-green {
    background-color: $strong-lime-green;
  }

  &__label-red {
    background-color: $pure-red;
  }

  &__label-gray {
    background-color: $gray;
  }

  &__label-terrain {
    background-color: $light-gray;
    border: 2px solid $black;
    border-radius: 4px;
    padding: 0.5ex 1ex;
    text-align: center;

    .positive-change {
      @include simple-shadow($white);

      color: $dark-cyan;
    }

    .negative-change {
      @include simple-shadow($white);

      color: $strong-red;
    }
  }

  &__label-terrain-item {
    border-left: 10px solid transparent;
    display: flex;
    margin-top: 0.5ex;
    padding-left: 5px;

    &:first-child {
      margin-top: 0;
    }

    &> span {
      flex-grow: 1;

      &:first-child {
        border-right: 1px solid $black;
        margin-right: 5px;
        padding-right: 5px;
      }
    }
  }

  &__label-terrain-item--dry {
    border-left-color: $dark-cyan;
  }

  &__label-terrain-item--wet {
    border-left-color: $dark-moderate-orange;
  }

  &__label-terrain-item--winter {
    border-left-color: $white;
  }

  &__label-terrain-item--arid {
    border-left-color: $pure-orange;
  }

  &__content-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;

    &> div {
      margin: 0.5ex;
    }
  }

  &__terrain {
    justify-content: space-between;
    max-width: none;
  }

  &__content-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &--square-small {
      height: 32px;
      width: 32px;
    }

    &--rectangle-small {
      height: 23px;
      width: 32px;
    }

    &--rectangle-large {
      height: 64px;
      width: 51px;
    }

    &--text-center,
    &--text-stat {
      align-items: center;
      display: flex;
      justify-content: center;

      &> span {
        @include simple-shadow($black);

        color: $white;

        &.positive-change {
          color: $very-light-lime-green;
        }

        &.negative-change {
          color: $very-light-red;
        }
      }
    }

    &--text-stat {
      &> span {
        margin-top: 30px;
      }
    }
  }

  &__unit-image {
    text-align: center;
    width: 211px;

    &> img {
      height: 133px;
    }
  }

  &__details-list {
    &> div {
      margin-bottom: 0.5ex;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
