// Variables

// set path for Bootstrap fonts
$icon-font-path: "/src/styles/fonts/" !default;

// Colors
$black: rgb(0, 0, 0) !default;
$dark-blue: rgb(0, 0, 128) !default;
$dark-cyan: rgb(0, 153, 51) !default;
$dark-moderate-orange: rgb(115, 77, 38) !default;
$gray: rgb(191, 191, 191) !default;
$light-gray: rgb(217, 217, 217) !default;
$pure-orange: rgb(230, 138, 0) !default;
$pure-red: rgba(255, 51, 0, 0.5) !default;
$strong-lime-green: rgba(51, 204, 51, 0.5);
$strong-red: rgb(204, 41, 0) !default;
$very-dark-cyan: rgb(0, 102, 34) !default;
$very-light-gray: rgb(242, 242, 242) !default;
$very-light-lime-green: rgb(128, 255, 128) !default;
$very-light-red: rgb(255, 153, 128) !default;
$white: rgb(255, 255, 255) !default;
